
button{
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 45%;
  height: 50px;
  width: 100px;
}

th{
  font-size: 20px;
  height: 50px;
  width: 200px;
}

table, th, td, tr, td{
  border: 2px solid black;
  text-align: center;
}

td{
  height: 40px;
}

tr>td.name{
  font-weight: 600;
  font-size: 18px;
}
