th, table, td{
  border: 2px solid black;
}

th{
  width: 150px;
  height: 50px;
  background-color: #12a9e8;
}

.dark-bg{
  background-color: #d9d9d9;
}

.light-bg{
  background-color: #f6f6f6;
}

#title{
  color: #2e6ea3;
}
